:root {
	--primary-color: red;
	--secondary-color: orange;
	--tertiary-color: yellow;
  --selected-color: #6473a8;
  --channels-default: #b3bbc4;
  --text-normal: white;
  --text-input-border: rgba(0, 0, 0, 0.63);
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.app-mount {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.fill {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.tree {
  display: flex;
  height: 100%;
	padding: 0;
}
.wrapper {
  overflow: hidden;
  display: flex;
  width: 72px;
  flex-direction: column;
  position: relative;
  background-color: var(--tertiary-color);
	align-items: center;
	padding: 0;
}
.guilds {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
	padding: 0;
}
*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}
.guildButton {
  background-color: var(--secondary-color);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin-bottom: 8px;
  border-radius: 50%;
  outline: none;
  align-items: center;
  transition: all 0.25s;
}
.guildButton:hover, .guildButton:focus, .guildButton:active {
  border-radius: 35%;
  background-color: var(--selected-color);
}
.guildIconButton:hover, .guildIconButton:focus, .guildIconButton:active {
  border-radius: 35%;
  background-color: transparent;
}
.header {
  font-weight: 600;
  text-transform: uppercase;
  color: gray;
}
.header.error {
  color: red;
}
.loginContainer {
  position: relative;
  height: 50%;
  width: 30%;
  display: grid;
  place-items: center;
}
.textBox {
  border: 2px solid rgba(0, 0, 0, 0.3);
  transition: border-color .4s;
  background-color: rgba(0, 0, 0, 0.17);
  padding: 10px;
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  outline: 0;
  color: white;
}
.textBox:focus, .textBox:active {
  border-color: var(--selected-color) !important;
}
.textBox:hover {
  border-color:black
}
.textBox.error {
  border-color: red !important;
}