:root {
	--primary-color: red;
	--secondary-color: orange;
	--tertiary-color: yellow;
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.app-mount {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
}
.tree {
  display: flex;
  height: 100%;
	padding: 0;
}
.wrapper {
  overflow: hidden;
  display: flex;
  width: 72px;
  flex-direction: column;
  position: relative;
  background-color: var(--tertiary-color);
	align-items: center;
	padding: 0;
}
.guilds {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
	  padding: 0;
}
.guildButton {
  background-color: var(--secondary-color);
  align-items: center;
  display: flex;
  justify-content: center;
  width: '48px';
  height: '48px';
  border: 2px solid transparent;
}
.guildButton :hover {
  border: 2px solid green;
}
*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}